<div
  class="card min-h-44 py-6 text-primary-950 text-base inline-flex flex-col justify-between items-start"
  *ngIf="leg()"
>
  <div class="self-stretch h-1.5 inline-flex justify-between items-center">
    <div class="inline-flex justify-start items-center gap-3">
      <div class="w-10 text-right font-medium">
        {{ getFormattedDepartureTime() }}
      </div>
      <div class="w-1.5 h-1.5 bg-primary-950 rounded-full"></div>
      <div class="font-medium">
        {{ getDuration() }}
      </div>
    </div>
    <div class="text-right font-medium">Gl. {{ getDeparturePlatform() }}</div>
  </div>
  <div class="flex inline-flex px-[54px] justify flex-1 min-h-20 gap-4">
    <div class="w-[2px] flex-none bg-primary-950"></div>
    <div class="relative flex justify-center items-center gap-2 self-center">
      <img
        [src]="getVehicleIconPath()"
        width="18"
        height="18"
        [alt]="getVehicleType() === 'bus' ? 'Bus Icon' : 'Train Icon'"
      />
      <div class="justify-center">
        <span class="font-medium">{{ getTrainType() }} </span
        ><span>Richtung {{ getDirection() }} </span>
      </div>
    </div>
  </div>
  <div class="self-stretch h-1.5 inline-flex justify-between items-center">
    <div class="inline-flex justify-start items-center gap-3">
      <div class="w-10 text-right font-medium">
        {{ getFormattedArrivalTime() }}
      </div>
      <div class="w-1.5 h-1.5 bg-primary-950 rounded-full"></div>
      <div class="">{{ leg()?.toStopPoint?.location?.locationName }}</div>
    </div>
    <div class="text-right">Gl. {{ getArrivalPlatform() }}</div>
  </div>
</div>
