<div class="card min-h-44 py-6 text-primary-950 text-base inline-flex flex-col justify-between items-start"
     *ngIf="leg()">
  <div class="self-stretch h-1.5 inline-flex justify-between items-center">
    <div class="inline-flex justify-start items-center gap-3">
      <div class="w-10 text-right font-medium">{{ leg()?.fromStopPoint?.departureData?.timetableTime }}</div>
      <div class="w-1.5 h-1.5 bg-primary-950 rounded-full"></div>
      <div class="font-medium">{{ leg()?.fromStopPoint?.location?.locationName }}
      </div>
    </div>
    <div class="text-right font-medium">Gl. {{ getDeparturePlatform() }}
    </div>
  </div>
  <div class="flex inline-flex px-[54px] justify flex-1 min-h-20 gap-4">
    <div class="w-[2px] flex-1 bg-primary-950"></div>
    <div class="relative flex justify-center items-center gap-2 self-center">
      <img src="/assets/icons/sbb_train.svg" alt="Sbb Train icon">
      <div class="justify-center"><span class="font-medium">{{ getTrainType() }}
 </span><span>Richtung {{ getDirection() }}
</span></div>
    </div>
  </div>
  <div class="self-stretch h-1.5 inline-flex justify-between items-center">
    <div class="inline-flex justify-start items-center gap-3">
      <div class="w-10 text-right font-medium">{{ leg()?.toStopPoint?.arrivalData?.timetableTime }}
      </div>
      <div class="w-1.5 h-1.5 bg-primary-950 rounded-full"></div>
      <div class="">{{ leg()?.toStopPoint?.location?.locationName }}
      </div>
    </div>
    <div class="text-right">Gl. {{ getArrivalPlatform() }}
    </div>
  </div>
</div>


