<div class="flex items-start gap-2 mb-6">
  <img src="https://placehold.co/48x48" alt="User Avatar" class="size-10 rounded-full" />

  <!-- Received message bubble -->
  <div class="flex flex-col px-4 py-3 bg-secondary-100 leading-6 rounded-tl-[4px] rounded-tr-big rounded-br-big rounded-bl-big max-w-[320px]">
    <div class="flex items-center gap-2 rtl:space-x-reverse">
      <h4 class="text-sm font-medium text-secondary-950">Yannick Gerber</h4>
    </div>
    <p class="text-sm font-light text-secondary-950 py-2.5">
      Hallo Zusammen, möchte noch jemand etwas zu Trinken?
    </p>
  </div>
</div>

<div class="flex items-start gap-2 mb-6">
  <img src="https://placehold.co/48x48" alt="User Avatar" class="size-10 rounded-full" />

  <!-- Received message bubble -->
  <div class="flex flex-col px-4 py-3 bg-secondary-100 leading-6 rounded-tl-big rounded-tr-big rounded-br-big rounded-bl-big max-w-[320px]">
    <div class="flex items-center gap-2 rtl:space-x-reverse">
      <h4 class="text-sm font-medium text-secondary-950">Josie Stampfli</h4>
    </div>
    <p class="text-sm font-light text-secondary-950 py-2.5">
      Ohh jaa! gerne ein Mate :)
    </p>
  </div>
</div>

<!-- Your message -->
<div class="flex items-start gap-2 justify-end mb-4">
  <h4 class="flex flex-col px-4 py-3 bg-primary-200 text-primary-950 rounded-tl-[20px] rounded-tr-[4px] rounded-bl-[20px] rounded-br-[20px] text-sm font-light leading-6 max-w-[320px] ml-auto">
    Auf ein Mate hätte ich auch Lust!
  </h4>
</div>
