<h2>Fahrgemeinschaft finden</h2>
<h4>Meine Strecke</h4>
<app-location-selector
  (fromLocationSelected)="onFromLocationSelected($event)"
  (toLocationSelected)="onToLocationSelected($event)">
</app-location-selector>

<app-date-time-picker (dateTimeSelected)="onDateTimeSelected($event)">
</app-date-time-picker>

<div class="container flex flex-col gap-2">
  <app-card-car></app-card-car>


  <!-- Anzeige der gefundenen Verbindungen -->
  <div *ngIf="trainConnections().length > 0" class="connections-section flex flex-col gap-2">
    <div *ngFor="let connection of trainConnections()">
      <app-card-train
        [departure]="connection.departure"
        [arrival]="connection.arrival"
        [duration]="connection.duration"
        [transfers]="connection.transfers"
        [platforms]="connection.platforms"
        [serviceName]="connection.serviceName"
        [destinationName]="connection.destinationName"
        [tripDetails]="connection.tripDetails">
      </app-card-train>
    </div>
  </div>
</div>






