<div class="card inline-flex flex-col justify-start gap-8">
  <div class="self-stretch inline-flex justify-between items-start gap-4">
    <h2 class="self-stretch justify-start">Mitfahrende</h2>
    <img class="w-6 h-6" src="assets/icons/close.svg" alt="close icon">
  </div>
  <div class="self-stretch inline-flex flex-col justify-start items-start gap-4">
    <app-member-item></app-member-item>
    <app-member-item></app-member-item>
    <app-member-item></app-member-item>
  </div>
  <app-btn-primary text="Fahrgemeinschaft öffnen"></app-btn-primary>
</div>

