<div class="location-selector ">

  <cdk-accordion class="card w-full mb-2">
    <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item w-full">
      <div class="accordion-header w-full" (click)="accordionItem.toggle()">
        <!-- Wichtig: Dieser Container stellt sicher, dass der Inhalt die volle Breite nutzt -->
        <div class="flex items-center justify-between w-full">
          <!-- Linke Seite mit Dot und Text -->
          <div class="flex items-center gap-2">
            <div class="dot-purple-m"></div>
            <div>
              <div class="text-base font-medium leading-none">Aktueller Standort,</div>
              <div class="font-light text-gray-950">{{ currentLocationLabel }}</div>
            </div>
          </div>

          <!-- Pfeil - separates Element auf der rechten Seite -->
          <div class="arrow-icon" [class.rotated]="accordionItem.expanded">
            <img ngSrc="/assets/icons/keyboard_arrow_down.svg" alt="toggle" height="32" width="32">
          </div>
        </div>
      </div>

      <!-- Accordion Inhalt -->
      <div
        class="accordion-content"
        [class.expanded]="accordionItem.expanded"
        [style.display]="accordionItem.expanded ? '' : 'none'">
        <div>
          <div class="flex flex-wrap gap-2 mt-5">
            <app-pills
              [pillType]="'location'"
              [pillItems]="fromLocationPills"
              (pillSelected)="onFromPillSelected($event)">
            </app-pills>
          </div>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>


  <!-- Akkordeon 2: Zielort -->
  <cdk-accordion class="card w-full mb-2">
    <cdk-accordion-item #accordionItem2="cdkAccordionItem" class="accordion-item w-full">
      <div class="accordion-header w-full" (click)="accordionItem2.toggle()">
        <!-- Container für Inhalt mit voller Breite -->
        <div class="flex items-center justify-between w-full">
          <!-- Linke Seite mit Dot und Text -->
          <div class="flex items-center gap-2">
            <div class="dot-purple-m"></div> <!-- Grüner Dot für Zielort -->
            <div>
              <div class="text-base font-medium leading-none">Zielort</div>
              <div class="font-light text-gray-950">{{ destinationLocationLabel }}</div>
            </div>
          </div>

          <!-- Pfeil - separates Element auf der rechten Seite -->
          <div class="arrow-icon" [class.rotated]="accordionItem2.expanded">
            <img ngSrc="/assets/icons/keyboard_arrow_down.svg" alt="toggle" height="32" width="32">
          </div>
        </div>
      </div>

      <!-- Accordion Inhalt -->
      <div
        class="accordion-content"
        [class.expanded]="accordionItem2.expanded"
        [style.display]="accordionItem2.expanded ? '' : 'none'">
        <div>
          <div class="flex flex-wrap gap-2 mt-5">
            <app-pills
              [pillType]="'location'"
              [pillItems]="toLocationPills"
              (pillSelected)="onToPillSelected($event)">
            </app-pills>
          </div>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
