<div class="flex flex-col gap-4">
  <h2>Fahrt erstellen</h2>
  <form [formGroup]="form">
    <h4>Meine Strecke</h4>
    <app-location-selector
      (fromLocationSelected)="onFromLocationSelected($event)"
      (toLocationSelected)="onToLocationSelected($event)">
      >
    </app-location-selector>
    <app-date-time-picker (dateTimeSelected)="onDateTimeSelected($event)"></app-date-time-picker>
    <h4>Organisation</h4>
    <app-map-pin-location
      [mode]="'select'"
      [locationFromSelector]="fromLocation"
      [(meetingPoint)]="meetingPoint"
    ></app-map-pin-location>
    <app-available-seats [seatsForm]="form"></app-available-seats>
    <h4>Mein Fahrzeug</h4>
    <ng-container formGroupName="carInfo">
      <app-plate-number formControlName="numberPlate"></app-plate-number>
    </ng-container>
    <app-car-info [seatsForm]="form"></app-car-info>
    <app-btn-primary
      (click)="onSubmit()"
      text="Fahrt aufschalten"
    ></app-btn-primary>
  </form>

  @if (submitted) {
    <div class="popup">
      <app-popup-feedback-car-ride
        class="mx-4"
        [carInfo]="createdCarInfo"
        [carConnection]="createdConnection"
        (popupClosed)="closePopup()"
      ></app-popup-feedback-car-ride>
    </div>
  }
</div>
