<div class="container flex flex-col mt-10 gap-5">
  <div class="items-center">
    <button class="absolute left-2 top-8.5" (click)="goBack()">
      <img
        src="/assets/icons/keyboard_arrow_down.svg"
        alt="arrow"
        class="rotate-90"
      />
    </button>
    <h2 class="flex justify-center">Fahrt erstellen</h2>
  </div>
  <div class="flex flex-col gap-2">
    <h4 class="mx-2">Meine Strecke</h4>
    <app-location-selector
      (fromLocationSelected)="onFromLocationSelected($event)"
    ></app-location-selector>
    <app-date-time-picker></app-date-time-picker>
  </div>
  <div class="flex flex-col gap-2">
    <h4 class="mx-2">Organisation</h4>
    <app-map-pin-location
      [mode]="'select'"
      [locationFromSelector]="fromLocation"
      [(meetingPoint)]="meetingPoint"
    ></app-map-pin-location>
    <app-available-seats></app-available-seats>
  </div>
  <div>
    <h4>Mein Fahrzeug</h4>
    <app-plate-number></app-plate-number>
    <app-car-info></app-car-info>
  </div>
  <app-btn-primary text="Fahrt aufschalten"></app-btn-primary>
</div>
