<div class="p-4 w-full inline-flex gap-4 justify-start items-start">
  <div class="flex-1">
    <div class="self-stretch text-2xl text-gray-800 font-medium leading-9">
      Hey, <span class="text-primary-500"><br />{{ name() }}</span>
    </div>
    <div class="self-stretch opacity-90 inline-flex justify-start items-center gap-2">
      <div class="size-2.5 bg-secondary-300 rounded-full"></div>
      <div class="justify-start text-xs font-medium leading-none">Aktueller Standort, <span
        class="font-light"> Emmenbrücke</span></div>
    </div>
  </div>
  <div class="flex-none">
    <img alt="" class="size-12 rounded-[512px]" src="{{ userPicture() }}" />
  </div>
</div>
