<div class="inline-flex w-full items-start justify-start gap-4">
  <div class="flex-1">
    <div class="mb-1 self-stretch text-2xl font-medium leading-9">
      Hey, <span class="text-primary-500"><br />{{ name() }}</span>
    </div>
    <div
      class="inline-flex items-center justify-start gap-2 self-stretch opacity-90"
    >
      <div class="dot-green-s"></div>
      <div class="justify-start text-xs font-medium leading-none">
        Aktueller Standort,
        <span class="font-light text-gray-950"> Emmenbrücke</span>
      </div>
    </div>
  </div>
  <div class="flex-none">
    <img alt="" class="size-12 rounded-[512px]" src="{{ userPicture() }}" />
  </div>
</div>
