<div class="card">
  <div class="flex items-center justify-between w-full">

    <div class="flex -space-x-4 rtl:space-x-reverse">
      <img class="size-10 ring-2 ring-white rounded-full" src="https://placehold.co/40x40" alt="">
      <img class="size-10 ring-2 ring-white rounded-full" src="https://placehold.co/40x40" alt="">
      <img class="size-10 ring-2 ring-white rounded-full" src="https://placehold.co/40x40" alt="">
    </div>

    <div class="justify-between">
      <img class="size-10 rounded-full" ngSrc="/assets/icons/invite_light_purple.svg" alt="" height="48" width="48">
    </div>
  </div>
</div>
