<div class="flex flex-wrap gap-2">
  <!-- Standort-Pills (nur Text in der Mitte) -->
  <ng-container *ngIf="pillType() === 'location'">
    <button
      *ngFor="let item of pillItems()"
      (click)="onPillClick(item)"
      [ngClass]="item.isSelected ? [selectColor(), 'outline-none'] : 'bg-white'"
      class="pill-border transition-colors duration-200"
    >
      <div
        class="pill-text"
        [ngClass]="{
          'text-sm font-medium text-gray-950': item.isSelected,
          'text-sm font-light text-gray-500': !item.isSelected
        }"
      >
        {{ item.label }}
      </div>
    </button>
  </ng-container>

  <!-- Farb-Pills (mit Farbpunkt links, Text rechts) -->
  <ng-container *ngIf="pillType() === 'color'">
    <button
      *ngFor="let item of pillItems()"
      (click)="onPillClick(item)"
      [ngClass]="
        item.isSelected
          ? [selectColor(), 'outline-none bg-primary-200']
          : 'bg-white'
      "
      class="pill-border transition-colors duration-200 inline-flex justify-start items-center gap-2"
      [class.disabled]="disabled()"
    >
      <!-- Farbpunkt nur anzeigen, wenn item.color existiert und nicht leer ist -->
      <div
        *ngIf="item.color"
        class="w-3 h-3 rounded-full"
        [style.background-color]="item.color"
      ></div>
      <div
        class="text-sm"
        [ngClass]="{
          'font-medium text-gray-950': item.isSelected,
          'font-light text-gray-500': !item.isSelected
        }"
      >
        {{ item.label }}
      </div>
    </button>
  </ng-container>

  <!-- Info-Pills (nicht klickbar, nur zur Anzeige) -->
  <ng-container *ngIf="pillType() === 'info'">
    <div
      *ngFor="let item of pillItems()"
      class="pill px-3 py-2 rounded-big outline outline-offset-[-1px] inline-flex justify-start items-center gap-2"
    >
      <div
        *ngIf="item.color"
        class="w-3 h-3 rounded-full"
        [style.background-color]="item.color"
      ></div>
      <div class="text-sm font-medium">{{ item.label }}</div>
    </div>
  </ng-container>
</div>
