<div class="mt-20 flex flex-col gap-6">
  <app-card-greeting class="card" name="{{userName}}" routerLink="/profile"></app-card-greeting>

  @if (userCarConnections.length > 0) {
    @for (connection of userCarConnections; track connection.id) {
      <app-card-car
        [carConnection]="connection"
        [carInfo]="connection.carInfo"
        bgColor="bg-secondary-200"
        txtColor="text-secondary-950"
        lineColor="bg-secondary-950"
        class="cursor-pointer"
        [routerLink]="['/car-event', connection.id]">>
      </app-card-car>
    }
  }
  <div>
    <h2 class="mb-4">Wohin geht's?</h2>
    <div class="input-locations">
      <div class="grid grid-flow-row grid-cols-2 gap-4">
        <ng-container *ngFor="let location of locations">
          <app-btn-location
            [title]="location.title"
            [location]="location.city"
            [coordinates]="location.coordinates"
            (btnClicked)="onLocationButtonClick($event)"
          ></app-btn-location>
        </ng-container>
      </div>
    </div>
  </div>
  <app-btn-primary text="Ich nehme jemanden mit" routerLink="/create-ride"></app-btn-primary>
</div>
