<div class="mt-20 flex flex-col gap-6">
  <app-card-greeting class="card" name="{{ userName() }}"></app-card-greeting>

  <div>
    <h2 class="mb-4">Wohin geht's?</h2>
    <app-btn-location>
    </app-btn-location>
    <app-btn-location>
    </app-btn-location>
    <app-btn-location>
    </app-btn-location>
    <app-btn-location>
    </app-btn-location>
    <app-btn-location>
    </app-btn-location>
    <app-btn-location>
    </app-btn-location>
  </div>

  <app-btn-primary></app-btn-primary>

</div>
