<h4 class="px-2 mb-2">Einstellungen</h4>

<!-- Buttons -->
<div class="card ol-end-1 flex flex-col space-y-4">
  <button type="button" class="flex items-center w-full gap-3 border-b border-primary-300 pb-4 font-light">
    <img alt="" class="size-8 rounded-full" src="{{ userPicture() }}" />
    Persönliche Daten
  </button>
  <button type="button" class="flex items-center w-full gap-3 border-b border-primary-300 pb-4 font-light">
    <img class=" rounded-full" ngSrc="/assets/icons/my_rides_light_purple.svg" alt="" height="32" width="32">
    Meine Fahrten
  </button>
  <button type="button" class="flex items-center w-full gap-3 border-b border-primary-300 pb-4 font-light">
    <img class=" rounded-full" ngSrc="/assets/icons/my_car_light_purple.svg" alt="" height="32" width="32">
    Mein Fahrzeug
  </button>
  <button type="button" class="flex items-center w-full gap-3 border-b border-primary-300 pb-4 font-light">
    <img class=" rounded-full" ngSrc="/assets/icons/messages_light_purple.svg" alt="" height="32" width="32">
    Benachrichtigungen
  </button>
  <button type="button" class="flex items-center w-full gap-3 font-light">
    <img class=" rounded-full" ngSrc="/assets/icons/help_contact_light_purple.svg" alt="" height="32" width="32">
    Hilfe & Kontakt
  </button>
</div>
