<div
  class="card inline-flex flex-col justify-start items-start gap-5"
  [ngClass]="[bgColor(), txtColor()]"
>
  <diV class="self-stretch inline-flex justify-between items-center">
    <div class="inline-flex justify-start items-center gap-2">
      <div *ngIf="bgColor() === 'bg-secondary-200'; else primaryBlock">
        <img
          ngSrc="/assets/icons/car_dark_green.svg"
          alt="Darkgreen Car Icon"
          height="32"
          width="32"
        />
      </div>
      <ng-template #primaryBlock>
        <img
          ngSrc="/assets/icons/car_dark_purple.svg"
          alt="Purple Car Icon"
          height="32"
          width="32"
        /></ng-template>
      <div>
        <span class="text-base font-medium">Auto </span
        ><span class="text-base font-light">nach {{ toCity }}</span>
      </div>
    </div>
    <div class="inline-flex justify-start items-center gap-1">
      <div *ngIf="bgColor() === 'bg-secondary-200'; else elseBlock">
        <img
          ngSrc="/assets/icons/members_dark_green.svg"
          alt="Darkgreen Car Icon"
          height="20"
          width="20"
        />
      </div>
      <ng-template #elseBlock
      ><img
        ngSrc="/assets/icons/members_dark_purple.svg"
        alt="Purple Car Icon"
        height="21"
        width="21"
      /></ng-template>
      <div class="text-xs font-medium">{{ passengerCount }}/{{ availableSeats }}</div>
    </div>
  </diV>
  <div class="self-stretch inline-flex flex-col justify-start items-start">
    <div
      class="text-sm font-medium self-stretch flex-1 inline-flex justify-between items-center gap-1"
    >
      <div>{{ departureTime }}</div>
      <div
        class="flex-1 h-[2px] relative inline-flex justify-between items-center"
        [class]="lineColor()"
      >
        <div
          class="w-1.5 h-1.5 origin-center -rotate-90 rounded-full"
          [class]="lineColor()"
        ></div>
        <div class="flex-1 h-[2px] relative" [class]="lineColor()"></div>
        <div
          class="w-1.5 h-1.5 origin-center -rotate-90 rounded-full"
          [class]="lineColor()"
        ></div>
      </div>
      <div>🤷‍♂️</div>
    </div>
    <div
      class="text-sm font-light self-stretch inline-flex justify-between items-center"
    >
      <div>{{ fromCity }}</div>
      <div>🤷‍♂️</div>
    </div>
  </div>
</div>
