@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import 'tailwindcss';
@import 'mapbox-gl/dist/mapbox-gl.css';

@theme {
  /*Fonts*/
  --font-lexend: 'Lexend', sans-serif;
  --text-base: 1rem;

  /*Border Radius*/
  --radius-big: 1.25rem;
  --radius-small: 1.13rem;

  /*Colors*/
  --color-black: var(--color-gray-950);
  --color-white: #fbfbfb;
  --color-background: #f1f1f1;

  --color-primary-50: #f5f3ff;
  --color-primary-100: #ede8ff;
  --color-primary-200: #dbd5ff;
  --color-primary-300: #b3a1ff;
  --color-primary-400: #a388fd;
  --color-primary-500: #8658fa;
  --color-primary-600: #7835f2;
  --color-primary-700: #6923de;
  --color-primary-800: #571dba;
  --color-primary-900: #491a98;
  --color-primary-950: #2c0e67;

  --color-secondary-50: #f0fdf0;
  --color-secondary-100: #dcfcdd;
  --color-secondary-200: #a4f5a6;
  --color-secondary-300: #85f089;
  --color-secondary-400: #49df4f;
  --color-secondary-500: #21c628;
  --color-secondary-600: #15a41b;
  --color-secondary-700: #14811a;
  --color-secondary-800: #15661a;
  --color-secondary-950: #052e09;

  --color-gray-50: #f6f7f6;
  --color-gray-100: #e2e5e2;
  --color-gray-200: #ced2ce;
  --color-gray-300: #a0a8a0;
  --color-gray-400: #7c857d;
  --color-gray-500: #626a63;
  --color-gray-600: #4d544d;
  --color-gray-900: #2f3230;
  --color-gray-950: #181b19;
}

@layer base {
  html {
    @apply selection:bg-gray-100 font-light text-gray-800 font-lexend bg-background;
  }

  body {
    @apply m-5 min-h-screen;
  }

  h1 {
    @apply text-2xl font-medium;
  }

  h2 {
    @apply text-xl font-medium;
  }

  h3 {
    @apply text-base font-medium;
  }

  h4 {
    @apply text-[0.875rem];
  }

  button {
    @apply hover:cursor-pointer;
  }
}

@layer components {
  .card {
    @apply flex w-full rounded-big bg-white p-4;
  }

  .input-text {
    @apply block w-full p-4 pl-6 bg-background rounded-small outline-none leading-none
    placeholder:opacity-100 placeholder-black
    focus:ring-2 focus:placeholder-primary-500 focus:text-black focus:ring-primary-500
    disabled:placeholder-gray-500;
  }

  .primary-button-purple {
    @apply button bg-primary-400 text-purple-950;
  }

  .primary-button-green {
    @apply button bg-secondary-300 text-green-950;
  }

  .secondary-button-purple {
    @apply border bg-white button text-primary-500 border-primary-500;
  }

  .secondary-button-green {
    @apply border bg-white button text-secondary-500 border-secondary-500;
  }

  .popup {
    @apply fixed top-0 left-0 w-full h-full z-1000 bg-[rgba(0,0,0,0.5)] flex-center;
  }

  .pill-text {
    @apply justify-start text-sm text-gray-500 font-light leading-4;
  }

  .pill-border {
    @apply px-3 py-2 bg-white rounded-big outline-1 outline-offset-[-1px] outline-gray-200 inline-flex justify-center items-center gap-1 flex-wrap content-center;
  }

  .dot-green-s {
    @apply rounded-full size-2.5 bg-secondary-300;
  }

  .dot-green-m {
    @apply rounded-full size-4 bg-secondary-300;
  }

  .dot-purple-s {
    @apply rounded-full size-2.5 bg-primary-300;
  }

  .dot-purple-m {
    @apply rounded-full size-4 bg-primary-300;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility button {
  @apply rounded-big p-4 font-medium flex-center w-full;
}
