@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  /*Fonts*/
  --font-lexend: "Lexend", sans-serif;

  /*Radius*/
  --radius-mobile: 1.25rem;
  --radius-innerElement: 1.125rem;

  /*Colors*/
  --color-black: var(--color-gray-950);
  --color-white: #FBFBFB;
  --color-background: #F1F1F1;

  --color-primary-50: #F5F3FF;
  --color-primary-100: #EDE8FF;
  --color-primary-200: #DBD5FF;
  --color-primary-300: #B3A1FF;
  --color-primary-400: #A388FD;
  --color-primary-500: #8658FA;
  --color-primary-600: #7835F2;
  --color-primary-700: #6923DE;
  --color-primary-800: #571DBA;
  --color-primary-900: #491A98;
  --color-primary-950: #2C0E67;

  --color-secondary-50: #F0FDF0;
  --color-secondary-100: #DCFCDD;
  --color-secondary-200: #A4F5A6;
  --color-secondary-300: #85F089;
  --color-secondary-400: #49DF4F;
  --color-secondary-500: #21C628;
  --color-secondary-600: #15A41B;
  --color-secondary-700: #14811A;
  --color-secondary-800: #15661A;
  --color-secondary-900: #145319;
  --color-secondary-950: #052E09;

  --color-gray-50: #F6F7F6;
  --color-gray-100: #E2E5E2;
  --color-gray-200: #CED2CE;
  --color-gray-300: #A0A8A0;
  --color-gray-400: #7C857D;
  --color-gray-500: #626A63;
  --color-gray-600: #4D544D;
  --color-gray-700: #404541;
  --color-gray-800: #363937;
  --color-gray-900: #2F3230;
  --color-gray-950: #181B19;
}

@layer base {

  html {
    @apply selection:bg-gray-100 font-light text-black font-lexend bg-background;
  }

  body {
    @apply m-4 min-h-screen;
  }

  h1 {
    @apply text-2xl font-medium leading-9;
  }

  button {
    @apply p-4 text-sm font-medium rounded-mobile flex-center hover:cursor-pointer;
  }
}

@layer components {
  .card {
    @apply flex w-full items-center bg-white rounded-mobile;
  }

  .button {
    @apply p-4
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility drop-shadow {
  @apply shadow-md bg-primary-100;
}
