@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import 'tailwindcss';
@import 'mapbox-gl/dist/mapbox-gl.css';

@theme {
  /*Fonts*/
  --font-lexend: 'Lexend', sans-serif;

  /*Colors*/
  --color-black: var(--color-gray-950);
  --color-white: #fbfbfb;
  --color-background: #f1f1f1;

  --color-primary-50: #f5f3ff;
  --color-primary-100: #ede8ff;
  --color-primary-200: #dbd5ff;
  --color-primary-300: #b3a1ff;
  --color-primary-400: #a388fd;
  --color-primary-600: #7835f2;
  --color-primary-700: #6923de;
  --color-primary-800: #571dba;
  --color-primary-900: #491a98;
  --color-primary-950: #2c0e67;

  --color-secondary-50: #f0fdf0;
  --color-secondary-100: #dcfcdd;
  --color-secondary-200: #a4f5a6;
  --color-secondary-300: #85f089;
  --color-secondary-400: #49df4f;
  --color-secondary-500: #21c628;
  --color-secondary-600: #15a41b;
  --color-secondary-700: #14811a;
  --color-secondary-800: #15661a;
  --color-secondary-900: #145319;
  --color-secondary-950: #052e09;

  --color-gray-50: #f6f7f6;
  --color-gray-100: #e2e5e2;
  --color-gray-200: #ced2ce;
  --color-gray-300: #a0a8a0;
  --color-gray-400: #7c857d;
  --color-gray-500: #626a63;
  --color-gray-600: #4d544d;
  --color-gray-700: #404541;
  --color-gray-800: #363937;
  --color-gray-900: #2f3230;
  --color-gray-950: #181b19;
}

@layer base {
  html {
    @apply selection:bg-gray-100 font-light text-gray-800 font-lexend bg-background;
  }

  body {
    @apply m-5 min-h-screen;
  }

  h1 {
    @apply text-2xl font-medium;
  }

  button {
    @apply h-full rounded-md bg-white px-4 py-2 text-sm font-medium text-primary-800 hover:cursor-pointer;
  }
}

@layer components {
  .card {
    @apply flex items-center bg-white rounded-[1.25rem];
  }

  .button-1 {
    @apply p-4 mt-2 flex-center font-medium rounded-2xl;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility drop-shadow {
  @apply shadow-md bg-primary-100;
}
